* {
  margin: 0px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Extra Small Devices (phones) */
@media (max-width: 575px) {}

/* Small Devices (tablets) */
@media (min-width: 576px) and (max-width: 767px) {
  body {
    background-image: linear-gradient(147deg, #FFE53B -20%, #fd3838 100%);
  }

  .card2 {
    width: 73vb;
    height: 40vh;
    margin: auto 8%;
    position: relative;
  }

  .link2 {
    border-radius: 10px;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: white;
    justify-content: center;
    align-items: flex-end;
  }

  a {
    text-decoration: none;
  }

  .info2 {
    display: none;
  }

  .des {
    color: black;
    max-height: 58%;
    max-width: 60%;
    overflow-y: scroll;
    position: relative;
    bottom: 30%;
    right: -15%;
    text-decoration: none;
  }
  
  
  p{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
  }
  .text1 {
    color: white;
    background: #fd3838;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0px 0px 5px 0px black;
    display: inline-block;
    position: absolute;
    bottom: 15%;
  }

  .img1 {
    box-shadow: 10px 10px 5px rgba(252, 56, 56, 0.4);
    left: -30px;
    top: 10%;
    background-color: #fd3838;
    position: absolute;
    border-radius: 10px;
    width: 30%;
    height: 60%;
    background-size: 30px 40px;
  }
  ::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000;
    padding: 10px;
  }
}

/* Medium Devices (small laptops) */
@media (min-width: 768px) and (max-width: 991px) {}

/* Large Devices (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Extra Large Devices (large desktops or high-resolution screens) */
@media (min-width: 1200px) {
  .card-img2 img {
    background-size: 110px 100px;
    border-radius: 10px 10px 0px 0px;
  }

  .bg {
    /* background-image: linear-gradient( 120deg,to right, #ffecd2 0%, #fcb69f 100%); */
    background: linear-gradient(to bottom, #a8ff78, #78ffd6);
    width: 100vw;
    height: 100vh;
  }

  .gallary {
    background-color: rgb(119, 119, 119);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 35%;
    position: absolute;
    left: 90px;
    bottom: 30%;
  }

  .card2 {
    height: 120%;
    max-width: 100%;
    box-sizing: border-box;
    /* max-height: 100%; */
    width: 20%;
    border-radius: 10px;
    margin: 1%;
    margin: -50px;
    padding: 2rem 1rem;
    background: linear-gradient(to bottom, #87b84f, #52d531);
    filter: none;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
    overflow: hidden;
  }

  .link2 {
    text-decoration: none;
    color: black;
    user-select: none;
  }

  .card2:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5));
    z-index: 0;
    transition: 1s opacity;
    opacity: 0;
    filter: blur(100px);
  }

  .card2:hover:before {
    opacity: 1;
  }

  .img1 {
    width: 100%;
    height: 100%;
    background-size: 90 40;
    background-color: yellowgreen;
  }

  .card2 .info2 {
    display: inline-block;
    background-image: none;
    position: relative;
    width: 100%;
    z-index: 2;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
  }

  .card2:hover .info2 {
    opacity: 3;
    transform: translateY(-80px);
  }

  .card2 .info1 {
    background-color: none;

  }

  .button-link {
    text-decoration: none;
    background-color: black;
    padding: 10%;
    padding-top: 20px;
    color: white;
    text-align: center;
    font-size: 21px;
    display: inline-block;
    margin: 4px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }

  .tables {
    padding: 10px;
  }

  .App {
    text-align: center;
  }

  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }

  .row {
    margin: 0 -5px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
}